<a href="https://colab.research.google.com/github/shoyohinata-05/Compute_task/blob/main/Compute_task_1ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q2

In [ ]:
if __name__ == '__main__':
    N = int(input())
mylist = []
for i in range(0,N):
    text = input().split()# multiple input using split
    if text[0] == "insert":
        mylist.insert(int(text[1]),int(text[2]))
    elif text[0] == "print":
        print(mylist)
    elif text[0] == "remove":
        mylist.remove(int(text[1]))
    elif text[0] == "append":
        mylist.append(int(text[1]))
    elif text[0] == "sort":
        mylist.sort()
    elif text[0] == "pop":
        mylist.pop()
    else:
        mylist.reverse()

12
insert 0 5
insert 0 6
print
[6, 5]
remove 6
append 1
append 3
sort
print
[1, 3, 5]
pop
print
[1, 3]
reverse
print
[3, 1]

Q3

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))#map() function executes a specified function for each item in an iterable.
        student_marks[name] = scores
    query_name = input()
    marks=0
    for i in student_marks[query_name]:
        marks=marks+i
    avg=marks/3
    print("%.2f"%avg)

3
a 12 23 34
b 45 56 67
c 21 74 65
c
53.33

Q5

In [ ]:
def mutate_string(string, position, character):
     return s[:int(i)]+c+s[int(i)+1:]
    
if __name__ == '__main__':
    s = input()
    i, c = input().split()
    s_new = mutate_string(s, int(i), c)
    print(s_new)

aditya
3 k
adikya

Q6

In [ ]:
list_1=[10,20,30,40,10]
list_2=[75,35,65,75,30]
def abc(test_list):
  print("The original list is : " + str(test_list))
  res = test_list[::len(test_list)-1]
  print("The first and last element of list are : " + str(res))
  if test_list[0] == test_list[-1]:
    print('Result is True')
  else:
    print('Result is False')
abc(list_1)
abc(list_2)

The original list is : [10, 20, 30, 40, 10]
The first and last element of list are : [10, 10]
Result is True
The original list is : [75, 35, 65, 75, 30]
The first and last element of list are : [75, 30]
Result is False

In [ ]:
rows = int(input('Enter the number of rows'))
# outer loop
for i in range(rows+1):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
    # new line after each row
    print('')

Enter the number of rows5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Q4

In [ ]:
# importing the module
import re

def fun(s):    
    
    # using re.match function
    a = re.match(r'[a-zA-Z0-9_-]+@[a-zA-Z0-9]+\.[a-zA-Z]{1,3}$',s)
    
    #returning the email adress
    return(a)

def filter_mail(emails):
    return list(filter(fun, emails))

if __name__ == '__main__':
    n = int(input())
    emails = []
    for _ in range(n):
        emails.append(input())

filtered_emails = filter_mail(emails)
filtered_emails.sort()
print(filtered_emails)

3
lara@hackerrank.com
brian-23@hackerrank.com
britts_54@hackerrank.com
['brian-23@hackerrank.com', 'britts_54@hackerrank.com', 'lara@hackerrank.com']

Q1

In [ ]:
N, X = list(map(int,input().split()))

marks = []
for _ in range(X):
    sub_marks = list(map(float,input().split()))
    marks.append(sub_marks)
    
for mark in zip(*marks):
    avg = sum(mark)/len(mark)
    print(avg)

5 3
89 90 78 93 80
90 91 85 88 86
91 92 83 89 90.5
90.0
91.0
82.0
90.0
85.5